:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);

  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);

  --lexend-deca-family: "Lexend Deca", sans-serif;
  --big-shoulder-display: "Big Shoulders Display", serif;

  --regular-weight: 400;
  --bold-weight: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  background: var(--very-light-gray);
  min-height: 100vh;
  padding-block: 7rem;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-inline: auto;
  padding-inline: 10rem;
}

main > :nth-child(1) {
  background: var(--bright-orange);
  border-radius: 0.5rem 0 0 0.5rem;
}

main > :nth-child(2) {
  background: var(--dark-cyan);
}

main > :nth-child(3) {
  background: var(--very-dark-cyan);
  border-radius: 0 0.5rem 0.5rem 0;
}

section {
  padding: 2rem;
  height: 100%;
}

h1,
h2 {
  color: var(--very-light-gray);
  font: var(--bold-weight) 2rem var(--big-shoulder-display);
  text-transform: uppercase;
  margin-block: 2rem;
}

p {
  color: var(--transparent-white);
  font: var(--regular-weight) 1rem var(--lexend-deca-family);
  margin-block-end: 4rem;
  line-height: 1.9;
  letter-spacing: 0.7px;
}

button {
  border-radius: 2rem;
  padding: 0.75rem 2rem;
  background-color: var(--very-light-gray);
  font: var(--regular-weight) 1rem var(--lexend-deca-family);
  outline: none;
  border: 2px solid transparent;
  cursor: pointer;
}

button {
  color: var(--bright-orange);
}

button.second {
  color: var(--dark-cyan);
}

button.third {
  color: var(--very-dark-cyan);
}

button.button-hoverable:hover {
  background: none;
  border: 2px solid var(--very-light-gray);
  color: var(--very-light-gray);
}

/* for one column */
@media (max-width: 595px) {
  main > :nth-child(1) {
    border-radius: 0.5rem 0.5rem 0 0;
  }

  main > :nth-child(3) {
    border-radius: 0 0 0.5rem 0.5rem;
  }
}
/* for two column */
@media (min-width: 596px) {
  main > :nth-child(1) {
    border-radius: 0.5rem 0 0 0;
  }
  main > :nth-child(2) {
    border-radius: 0 0.5rem 0.5rem 0;
  }
  main > :nth-child(3) {
    border-radius: 0 0 0.5rem 0.5rem;
  }
}
/* for three column */
@media (min-width: 846px) {
  main > :nth-child(1) {
    border-radius: 0.5rem 0 0 0.5rem;
  }
  main > :nth-child(2) {
    border-radius: 0;
  }
  main > :nth-child(3) {
    border-radius: 0 0.5rem 0.5rem 0;
  }
}
